@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);

body {
    font-size: 125%;
    font-family: Libre Baskerville;
}

li {
    font-size: 150%
}

p {
    font-size: 125%
}

div#title-slide, div#end-slide {
    text-align: center;
}